.tong {
  animation: motion 0.3s linear 0s infinite alternate;
  margin-top: 0;
  -webkit-animation: motion 0.3s linear 0s infinite alternate;
  margin-top: 0;
}

@keyframes motion {
  0% {
    margin-top: 0px;
  }
  100% {
    margin-top: 5px;
  }
}
